.rbc-calendar {
  background-color: #212529;
  border-radius: 8px;
  color: #fff;
}

.rbc-toolbar {
  margin-bottom: 20px;
}

.rbc-toolbar button {
  color: #fff;
  border: 1px solid #e0d4d4;
  background-color: #1a1d20;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 4px 10px 0 0;
  font-weight: 600;
}

.rbc-toolbar button:hover {
  background-color: #0d6efd;
  color: #fff;
}

.rbc-toolbar button.rbc-active {
  border: 1px solid #1a1d20;
  background-color: #e0d4d4;
  color: #1a1d20;
}

.rbc-header {
  padding: 10px;
  font-weight: 500;
  background-color: #373a3e;
  color: #fff;
  border-bottom: 1px solid #404040;
}

.rbc-event {
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 0px;
}

.rbc-today {
  background-color: #373a3e
  !important;
}

.rbc-off-range-bg {
  background-color: #373a3e;
}

.rbc-date-cell {
  padding: 5px;
  text-align: center;
  color: #fff;
}

.rbc-month-view {
  border: 1px solid #404040;
  border-radius: 8px;
  background-color: #1a1a1a;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #404040;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #404040;
}

.rbc-day-bg {
  background-color: #1a1d20;
}

.rbc-off-range {
  color: #666;
}

